.Modal {
  height: 50rem;
  width: 50rem;
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  left: 20rem;
  z-index: 1;
  border-radius: 12px;
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-control {
  width: 20rem;
}

@media screen and (max-width: 500px) {
  .Modal {
    height: 35rem;
    width: 25rem;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    left: 3.5rem;
    z-index: 1;
    border-radius: 12px;
    color: white;
  }
}
