.AddBook-form {
  margin: 5% 10% 0 10%;
  border-radius: 12px;
  background-image: linear-gradient(to right top, #f26e92 0%, #fff46a 100%);
  padding: 1rem;
  box-shadow: 0 5px 2rem 0 rgba(0, 0, 0, 0.25);
  transition: transform 300ms;
  text-align: center;
}
.AddBook-form:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 2rem 60px rgba(0, 0, 0, 0.25);
}
.Modal-button-container {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: 900;
}
.form-control {
  width: 90%;
}

@media screen and (max-width: 414px) {
  .AddBook-form {
    margin: 0;
  }
}
