.form-group {
  width: 50vw;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: center;
}
.search {
  height: 500px;
}
.delete-button {
  margin-top: 10rem;
}

.button {
  padding: 1rem;
  background-color: #5eb69d;
  border-radius: 5px;
  color: white;
}

.text-area-container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 18rem;
}
.form-field-container {
  margin-top: 5rem;
}

.edit-form {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
