.form-group {
  width: 50vw;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: center;
}
.search {
  height: 500px;
}
