.Home-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-image: linear-gradient(to right top, #f26e92 0%, #fff46a 100%);
  justify-content: space-around;
  margin: 5rem 10rem;
  border-radius: 1rem;
  box-shadow: 0 5px 2rem 0 rgba(0, 0, 0, 0.25);
  transition: transform 300ms;
}
.Home-container:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 2rem 60px rgba(0, 0, 0, 0.25);
}
.Home-title-container {
  justify-content: center;
}
.Home-greeting {
  margin-top: 17rem;
  margin-left: 6.25rem;
}
.Home-title {
  font-family: "Pacifico", sans-serif;
}
.Home-paragraph {
  /* background-color: blue; */
  height: 20rem;
  width: 25rem;
}

.Home-image {
  /* background-color: red; */
  height: 50rem;
  width: 37.5rem;
  margin-top: 1rem;
  margin-left: 0rem;
}
