.Home {
  padding: 1rem;
  margin: 5% 5% 0 5%;
}
.Home-container {
  background-image: linear-gradient(to right top, #f26e92 0%, #fff46a 100%);
  justify-content: space-around;
  border-radius: 1rem;
  box-shadow: 0 5px 2rem 0 rgba(0, 0, 0, 0.25);
  transition: transform 300ms;
}
.Home-container:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 2rem 60px rgba(0, 0, 0, 0.25);
}
.Home-title-container {
  justify-content: center;
}
.Home-greeting {
  padding: 1rem;
}
.Home-title {
  font-family: "Pacifico", sans-serif;
}
.Home-paragraph {
}
.Home-image {
  width: 100%;
}
