* {
  box-sizing: border-box;
}
.intro {
  text-align: center;
}
.Form-container {
  display: flex;
  justify-content: center;
}
.Search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hide {
  display: none;
}
.Book-container {
  margin: 2rem;
}
.submit {
  width: 10.5rem;
}
.label {
  text-align: center;
}
