.slider {
  position: relative;
  width: 700px;
  margin: 10rem auto;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 1rem;
  background-image: linear-gradient(to right top, #f26e92 0%, #fff46a 100%);
  box-shadow: 0 5px 2rem 0 rgba(0, 0, 0, 0.25);
  /* transition: transform 300ms; */
}
.slider:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 2rem 60px rgba(0, 0, 0, 0.25);
}
.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: 13rem;
  margin-top: 5rem;
}
.slider-arrow-container {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  height: 100px;
}
.slider-button-container {
  display: flex;
  justify-content: space-around;
}
.slider-buttons {
  height: 40px;
  width: 100px;
  margin-bottom: 3rem;
  border-radius: 12px;
  color: white;
}

@media screen and (max-width: 500px) {
  .slider {
    width: 500px;
    margin: 5rem 0.25rem;
  }
  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 7rem;
    margin-top: 5rem;
  }
  .slider-button-container {
    display: flex;
    justify-content: space-around;
  }
  .slider-arrow-container {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    height: 100px;
  }
}
