.Book-pals-container {
  background: url(./book-banner.jpg);
  height: 20vh;
  display: flex;

  justify-content: left;
  align-items: flex-end;
}
.cover {
  background: black;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  display: flex;
  align-items: flex-end;
}
.Book-pals-title {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 4rem;
}
/* body {
  background: #ffdf9e93;
} */

.link-container {
  width: 100%;
}

.navLink {
  font-size: 3vw;
  padding: 0.5%;
  color: #5eb69d;
  margin-right: 10px;
  font-family: "Merriweather Sans", sans-serif;
}
.navLink:hover {
  color: #5eb69d;
  text-decoration: underline;
  font-family: "Pacifico", cursive;
}
body {
  background-color: rgba(255, 239, 213, 0.65);
}
