.Book-pals-container {
  background: url(./book-banner.jpg);
  height: 20vh;
  display: flex;

  justify-content: left;
  align-items: flex-end;
}
.cover {
  background: black;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  display: flex;
  align-items: flex-end;
}
.Book-pals-title {
  color: gray;
}
